<app-navbar></app-navbar>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-left">
            <button (click)="addNewConsumer()" class="btn btn-primary btn-sm"><i class="material-icons"
                style="vertical-align: -6px;">add_circle</i>>ADD NEW CONSUMER</button>

            <!--a routerLink="/addNewConsumer" class="btn btn-primary btn-sm"><i class="material-icons"
                    style="vertical-align: -6px;">add_circle</i> ADD NEW CONSUMER</a-->
        </div>
    </div>
    <div class="row justify-content-center buffer">
        <div class="col text-left">
                <app-data-table-consumer></app-data-table-consumer>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
</div>
