
<form [formGroup]="newConsumerForm">
    <div class="container-fluid">              
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="firstName">
                    Name:
                </label>
            </div>            
            <div class="col-3">
                <input class="form-control" id="name" type="text" formControlName="firstName">
                <label class="text-danger" *ngIf="newConsumerForm.get('firstName').touched && newConsumerForm.get('firstName').errors?.required">
                    This field is mandatory.
                </label>
            </div>
        </div>
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="lastName">
                    Lastname:
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" id="lastname" type="text" formControlName="lastName">
                <label class="text-danger" *ngIf="newConsumerForm.get('lastName').touched && newConsumerForm.get('lastName').errors?.required">
                    This field is mandatory.
                </label>
            </div>
        </div>


        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="location">
                    Location:
                </label>
            </div>
            <div class="col-3">
                <select formControlName="location" (change)="onChange()">
                    <option *ngFor="let address of addresses" [value]="address.address" id="address" >{{address.address}}</option>
                  </select>
            </div>
        </div>
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="priority">
                    Priority: {{priority}}
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" id="priority" type="hidden" formControlName="priority">
            </div>
        </div>

        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="phone">
                    Phone Number:
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" id="phone" type="text" formControlName="phone">
            </div>
        </div>

        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="consumer">
                    Consumer:
                </label>
            </div>
            <div class="col-3">
                <select formControlName="consumerType">
                    <option *ngFor="let consumer of accountTypes" [value]="consumer" id="consumer" >{{consumer}}</option>
                  </select>
            </div>
        </div>        

        <input type="hidden" formControlName="consumerId">
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <button class="btn btn-sm-4 btn-primary" (click)="onSubmit(newConsumerForm.value)" [disabled]="newConsumerForm.invalid">CONFIRM</button>
            </div>
        </div>     
    </div>
</form>