<div class="container-fluid grid-border">   
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            Document Type: {{this.docType}}<br />
        </div>
        <div class="col-3">
            Document Id: {{this.id}}<br />
        </div>
        <div class="col-3">
            Date Created: {{this.dateCreated}}<br />
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            Notes: {{this.notes}}<br />
        </div>
        <div class="col-3">
            Status: {{this.state}}<br />
        </div>
    </div>
</div>