
.vscode/tasks.json
.vscode/launch.json
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.g.props
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.dgspec.json
Web2BE/Web2BE/obj/project.nuget.cache
Web2BE/Web2BE/obj/project.assets.json
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.genruntimeconfig.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csprojAssemblyReference.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.FileListAbsolute.txt
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.CoreCompileInputs.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.assets.cache
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.dev.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.deps.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/appsettings.json
Web2BE/Web2BE/appsettings.json
web-project/src/assets/equipmentTemp.json
Web2BE/.vs/Web2BE/DesignTimeBuild/.dtbcache.v2
Web2BE/Web2BE/obj/project.nuget.cache
Web2BE/Web2BE/obj/project.assets.json
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.dgspec.json
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.genruntimeconfig.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.exe
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.CoreCompileInputs.cache
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/appsettings.json
Web2BE/Web2BE/appsettings.json
Web2BE/Web2BE/appsettings.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/.vs/Web2BE/v16/.suo
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.assets.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
node_modules
package-lock.json
web-project/package-lock.json
web-project/package.json
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.g.props
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.dgspec.json
Web2BE/Web2BE/obj/project.nuget.cache
Web2BE/Web2BE/obj/project.assets.json
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.genruntimeconfig.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.FileListAbsolute.txt
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.CoreCompileInputs.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.assets.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.Manifest.cache
Web2BE/Web2BE/Migrations/20210710114350_update.Designer.cs
Web2BE/Web2BE/Migrations/20210710114350_update.cs
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.dev.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.exe
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.deps.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/appsettings.json
Web2BE/Web2BE/appsettings.json
Web2BE/.vs/Web2BE/v16/.suo
Web2BE/.vs/Web2BE/config/applicationhost.config
web-project/package.json
web-project/package-lock.json
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.g.props
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.dgspec.json
Web2BE/Web2BE/obj/project.nuget.cache
Web2BE/Web2BE/obj/project.assets.json
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.genruntimeconfig.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.FileListAbsolute.txt
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.CoreCompileInputs.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.assets.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.Manifest.cache
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.dev.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.exe
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.deps.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/appsettings.json
Web2BE/Web2BE/appsettings.json
Web2BE/.vs/Web2BE/v16/.suo
Web2BE/.vs/Web2BE/config/applicationhost.config
web-project/package.json
web-project/package-lock.json
*.cache
*.props
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.g.props
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.dgspec.json
Web2BE/Web2BE/obj/project.nuget.cache
Web2BE/Web2BE/obj/project.assets.json
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.genruntimeconfig.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.FileListAbsolute.txt
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.CoreCompileInputs.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.assets.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.Manifest.cache
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.dev.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.exe
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.deps.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/appsettings.json
Web2BE/Web2BE/appsettings.json
Web2BE/.vs/Web2BE/v16/.suo
Web2BE/.vs/Web2BE/config/applicationhost.config
web-project/package.json
web-project/package-lock.json
Web2BE/Web2BE/Web2BE.csproj
Web2BE/.vs/Web2BE/config/applicationhost.config
Web2BE/.vs/Web2BE/v16/.suo
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.deps.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.exe
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.dev.json
Web2BE/.vs/Web2BE/config/applicationhost.config
Web2BE/.vs/Web2BE/v16/.suo
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.deps.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.exe
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.dev.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.runtimeconfig.json
Web2BE/Web2BE/bin/Debug/netcoreapp3.1/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.Manifest.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/staticwebassets/Web2BE.StaticWebAssets.xml
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.assets.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.csproj.CoreCompileInputs.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.dll
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.genruntimeconfig.cache
Web2BE/Web2BE/obj/Debug/netcoreapp3.1/Web2BE.pdb
Web2BE/Web2BE/obj/project.assets.json
Web2BE/Web2BE/obj/project.nuget.cache
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.dgspec.json
Web2BE/Web2BE/obj/Web2BE.csproj.nuget.g.props
