<div class="container-fluid grid-border">     
    <div class="row">
        <div class="col-6 text-left">   
            <form [formGroup] = "addWorkPlanForm">    
                <div class="row justify-content-center buffer">
                    <div class="col-2">
                        <div class="col-1">
                            <label for="newEquipment">
                                Choose equipment:
                            </label>
                       
                            <select  [(ngModel)]="selectedEquipment" id="newEquipment" name="newEquipment" [ngModelOptions] = "{standalone:true}">
                                <option *ngFor="let equipment of equipments | async" [ngValue]="equipment">
                                    {{equipment.name}}
                                </option>
                            </select>                          
                     </div>
                    </div>
                </div>
                <div class="row justify-content-center buffer">
                    <div class="col-3">
                        <label class="padding" for="description">
                            Instruction Description:
                        </label>
                    </div>
                    <div class="col-3" >
                        <input class="form-control" id="description" type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row justify-content-center buffer">                   
                    <div class="col-3">
                        <button (click)="onSubmit()" class="btn btn-primary">Add Instruction</button>
                    </div>
                </div>
                <input type="hidden" [(ngModel)]="switchingInstructionsList" [formControlName]="'switchingInstructions'">
             </form> 
        </div>
    </div>
    <div class="row justify-content-center buffer">
        <div class="col text-left">
                <app-data-table-instructions></app-data-table-instructions>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>      
</div>