<div class="container-fluid grid-border">     
    <div class="row">
        <div class="col-6 text-left">        
            <form [formGroup] = "instructionGroup">
                <div class="row justify-content-center buffer">
                    <div class="col-3">
                        <label class="padding" for="equipmentName">
                            Element
                        </label>
                    </div>
                    <div class="col-3" [formGroup]="instructionGroup">
                        <input class="form-control" id="equipmentName" type="equipmentName" [formControlName]="'equipmentName'">
                    </div>
                </div>
                <div class="row justify-content-center buffer">
                    <div class="col-3">
                        <label class="padding" for="description">
                            Instruction Description:
                        </label>
                    </div>
                    <div class="col-3" [formGroup]="instructionGroup">
                        <input class="form-control" id="description" type="description" [formControlName]="'description'">
                    </div>
                </div>
                <div class="row justify-content-center buffer">                   
                    <div class="col-3">
                        <button (click)="onSubmit(instructionGroup.value)" class="btn btn-primary">Add Instruction</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center buffer">
        <div class="col text-left">
                <app-data-table-instructions></app-data-table-instructions>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>      
</div>