<div class="container-fluid grid-border">
    <div class="row text-left mb-5 mt-4 mx-3">
        <div class="col-3">
            <label for="affectedConsumers">Affected consumer: </label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="affectedConsumers" name="affectedConsumers" type="number"
                [formControlName]="'affectedConsumers'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="type">Type:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <select id="type" name="type" [formControlName]="'type'">
                <option *ngFor="let incidentTypes of incidentTypes" [value]="incidentTypes">
                    {{incidentTypes}}</option>
            </select>
        </div>
        <div class="col-3">
            <label for="dateOccured"><span style="color: red;">*</span> Date occured:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="dateOccured" type="date" name="dateOccured"
                [formControlName]="'dateOccured'">
                <label class="text-danger" *ngIf="addIncidentForm.get('dateOccured').touched && addIncidentForm.get('dateOccured').errors?.required">
                    This field is mandatory.
                </label>
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="priority">Priority:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <select id="priority" name="priority" [formControlName]="'priority'">
                <option *ngFor="let incidentPriority of incidentPriorities" [value]="incidentPriority">
                    {{incidentPriority}}</option>
            </select>
        </div>
        <div class="col-3">
            <label for="ETR"><span style="color: red;">*</span> ETR:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="ETR" type="date" name="ETR" [formControlName]="'ETR'">
            <label class="text-danger" *ngIf="addIncidentForm.get('ETR').touched && addIncidentForm.get('ETR').errors?.required">
                This field is mandatory.
            </label>
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-6" [formGroup]="addIncidentForm">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" id="approved" [formControlName]="'approved'">
                <label class="custom-control-label" for="approved">Approved? </label>
            </div>
        </div>
        <div class="col-3">
            <label for="numberOfCalls">Number of calls: </label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="numberOfCalls" name="numberOfCalls" type="number"
                [formControlName]="'numberOfCalls'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="type">State:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <select id="state" name="state" [formControlName]="'state'">
                <option *ngFor="let incidentState of incidentStates" [value]="incidentState">
                    {{incidentState}}</option>
            </select>
        </div>
        <div class="col-3">
            <label for="voltage">Voltage: </label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="voltage" name="voltage" type="number" [formControlName]="'voltage'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="ETA"><span style="color: red;">*</span> ETA:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="ETA" name="ETA" type="date" [formControlName]="'ETA'">
            <label class="text-danger" *ngIf="addIncidentForm.get('ETA').touched && addIncidentForm.get('ETA').errors?.required">
                This field is mandatory.
            </label>
        </div>
        <div class="col-3">
            <label for="ATA"><span style="color: red;">*</span> ATA:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="ATA" name="ATA" type="date" [formControlName]="'ATA'">
            <label class="text-danger" *ngIf="addIncidentForm.get('ATA').touched && addIncidentForm.get('ATA').errors?.required">
                This field is mandatory.
            </label>
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="scheduledTime"><span style="color: red;">*</span> Scheduled time:</label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="scheduledTime" name="scheduledTime" type="date"
                [formControlName]="'scheduledTime'">
            <label class="text-danger" *ngIf="addIncidentForm.get('scheduledTime').touched && addIncidentForm.get('scheduledTime').errors?.required">
                This field is mandatory.
            </label>
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="resolver"><span style="color: red;">*</span> Resolver: </label>
        </div>
        <div class="col-3" [formGroup]="addIncidentForm">
            <input class="form-control" id="resolver" name="resolver" type="text" [formControlName]="'resolver'">
            <label class="text-danger" *ngIf="addIncidentForm.get('resolver').touched && addIncidentForm.get('resolver').errors?.required">
                This field is mandatory.
            </label>
        </div>
    </div>
    <div class="row text-center mb-5 mx-3">
        <div class="col-12">
            <label>Fields marked with <span style="color: red;">*</span> are mandatory.</label>
        </div>
    </div>

</div>