<div class="container-fluid">
   <div class="row pt-10">
      <div class="col text-center">
         <img class="mb-4" src="../../../assets/images/logo.png" alt="" width="150" height="150">
         <h1 class="h3 mb-3 font-weight-normal"> MRA Distribution</h1>
         <h2 class="h3 mb-3 font-weight-normal">Electricity for the future</h2>
      </div>
   </div>
   <div class="row">
      <div class="col text-center">
         <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="form-signin"
            style="border-bottom: 1px solid black">
            <div>
               <label class="sr-only" for="email">
                  Email
               </label>
               <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email" required
                  autofocus>
            </div>
            <div>
               <label class="sr-only" for="password">
                  Password
               </label>
               <input class="form-control" id="password" type="password" formControlName="password"
                  placeholder="Password" required autofocus>
            </div>
            <button type ="submit" class="btn btn-sm-4 btn-primary" [disabled] = "loginForm.invalid">Sign in</button>
         </form>
      </div>
   </div>
   <div class="row mt-2">
      <div class="col text-center">
         <a routerLink="/passwordRecovery">Forgot your
            password?</a>
      </div>
   </div>
   <div class="row my-2">
      <div class="col text-center">
         <a routerLink="/createAccount">Don't have an account? Create one</a>
      </div>
   </div>
   <div class="row my-2">
      <div class="col text-center">
         <a href="/" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
      </div>
   </div>

   <div class="row">
      <div class="col text-center">
         <a href="/" class="google btn">
            <i class="fa fa-google fa-fw"></i> Login with Google+
          </a>
      </div>
   </div>

   <div class="row pt-9 pl-4" >
               <div class="col">
            <a routerLink="/dashboard" class="btn btn-secondary"><i style="vertical-align: -6px;"
                  class="material-icons">call</i> Make a call</a>
         </div>
   </div>
</div>