<div [formGroup]="addWorkPlanForm">
    <input type="file" accept="image/*" (change)="showPreview($event)" id="photo" name="photo"
      [formControlName]="'photo'" />
    <div class="imagePreview">
      <img width="150" height="150" [src]="imageURL">
    </div>    
    <div class="row justify-content-center buffer">                   
      <div class="col-3">
          <button (click)="onSubmit(addWorkPlanForm.value)" class="btn btn-primary">Add Work Plan</button>
      </div>
  </div>
</div>