<div class="container-fluid grid-border">    
    <form [formGroup]="incidentsGroup" (ngSubmit)="onSubmit()">
        <div class="row text-center mb-5 mt-4 mx-3">
            <div class="col-1">
                <label for="newIncident">
                    Choose incident:
                </label>
            </div>
            <div class="col-2">
                <select id="newIncident" name="newIncident" formControlName="newIncident"
                    [(ngModel)]="selectedIncident">
                    <option *ngFor="let incident of incidents | async" [ngValue]="incident">
                        {{incident.incidentId}}</option>
                </select>
            </div>
            <div class="col-1">
                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            </div>
        </div>

    </form>
    <div class="row text-left mb-5 mt-4 mx-3">
        <div class="col-7">
            <h1>Chosen incidents: </h1>
            <ul *ngFor="let incident of incidentList" class="list-group">
                <li class="list-group-item">
                    ID: {{incident.incidentId}} | Type: "{{incident.type}}" | ETA: "{{incident.eta}}" | Priority:
                    "{{incident.priority}}" | Cause: "{{incident.cause}}"                    
                </li>
            </ul>
        </div>

    </div>

</div>