<app-navbar></app-navbar>
<br />
<br />
<div class="containter-fluid background">
    <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">  
        <div class="containter">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="d-flex justify-content-center">
                <h1>Your profile</h1>
              </div>
            </div>
          </div>
          <div class="row  mb-2">
            <div class="col-lg-12">
              <br />
            </div>
          </div>
          <div class="row  mb-2">
            <div class="col-lg-3">
              <label class="padding" for="username">
                Username:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="username" type="text" formControlName="username" [ngModel]="this.user.username">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="email">
                Email:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="email" type="email" formControlName="email" [ngModel]=this.user.email>
            </div>
          </div>
          <div formGroupName="passwords">
          <div class="row mb-2" >
            <div class="col-lg-3">
              <label class="padding" for="password">
                Password:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="password" type="password" formControlName="password" [ngModel]=this.user.password>
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="passwordRepeat">
                Confirm password:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="passwordRepeat" type="password" formControlName="passwordRepeat" [ngModel]=this.user.password>
            </div>
            <label class="text-danger" *ngIf="userProfileForm.hasError('notSame','passwords')">
              Passwords do not match.
            </label>
          </div>
        </div>
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="firstName">
                First name:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="firstName" type="text" formControlName="firstName" [ngModel]="this.user.firstName">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="lastName">
                Last name:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="lastName" type="text" formControlName="lastName" [ngModel]="this.user.lastName">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="dateOfBirth">
                Date of birth:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="dateOfBirth" type="date" formControlName="dateOfBirth" [ngModel]="this.user.dateOfBirth">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="address">
                Address:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="address" type="text" formControlName="address" [ngModel]="this.user.address">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="type">
                Type of user:
              </label>
            </div>
            <div class="col-lg-3">
              <select>
                <option *ngFor="let userType of userTypes" [value]="this.user.address">{{userType}}</option>
              </select>
            </div>
          </div>
    
    
    
          <div class="row mb-2">
            <div class="col-lg-4">
              <label class="padding">
                Upload profile picture:
              </label>
            </div>
            <div class="col-lg-4">
                <input type="file" accept="image/*" (change)="showPreview($event)" id="photo" name="photo"
                [formControlName]="'photo'"/>          
              <div class="imagePreview">
                <img width="150" height="150" [src]="this.user.photo" />
              </div>
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-4">
              <div class="d-flex justify-content-center">
                <button class="btn btn-sm-4 btn-primary" type="submit">Submit changes</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    </div>