<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-left">
  <a class="navbar-brand separator-right" [routerLink]="['/dashboard']" title="Home">
    <img class="d-inline-block align-top" [src]="this.iconMap.get('Logo')" alt="Home" width="50" height="50">
  </a>
  <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/search']" title="Search">
          <img class="small-icon" [src]="this.iconMap.get('Search')" alt="Search">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/notifications']" title="Notifications">
          <img class="small-icon" [src]="this.iconMap.get('Notifications')" alt="Notifications">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/map']" title="Map">
          <img class="small-icon" [src]="this.iconMap.get('Map')" alt="Map">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/dashboard']" title="Documents">
          <img class="small-icon" [src]="this.iconMap.get('Documents')" alt="Documents">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/addElement']" title="Add elements">
          <img class="small-icon" [src]="this.iconMap.get('Element')" alt="Add elements">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/addCrew']" title="Add crew members">
          <img class="small-icon" [src]="this.iconMap.get('Crew')" alt="Add crew members">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/addConsumer']" title="Add consumer">
          <img class="small-icon" [src]="this.iconMap.get('Consumer')" alt="Add consumer">
        </a>
      </li>
    </ul>
    <a class="nav-link" [routerLink]="['/settings']" title="Settings">
      <img class="medium-icon" [src]="this.iconMap.get('Settings')" alt="Settings">
    </a>
    <a class="nav-link separator" [routerLink]="['/userProfile']" title="Profile">
      <img class="medium-icon" [src]="this.iconMap.get('Profile')" alt="Profile">
    </a>
    <a class="nav-link separator" (click)="logOut()" title="Sign out">
      <img class="medium-icon" [src]="this.iconMap.get('Sign out')" alt="Sign out">
    </a>
  </div>
</nav>