<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-left">
  <a class="navbar-brand separator-right" [routerLink]="['/dashboard']" title="Home">
    <img class="d-inline-block align-top" src="../../../assets/images/logo.png" alt="Home" width="50" height="50">
  </a>
  <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/dashboard']" title="Search">
          <img class="small-icon" src="../../../assets/images/SEARCH.png" alt="Search">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/dashboard']" title="Notifications">
          <img class="small-icon" src="../../../assets/images/NOTIFICATION.png" alt="Notifications">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/map']" title="Map">
          <img class="small-icon" src="../../../assets/images/MAP.png" alt="Map">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/dashboard']" title="Documents">
          <img class="small-icon" src="../../../assets/images/DOCUMENTS.png" alt="Documents">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/addElement']" title="Add elements">
          <img class="small-icon" src="../../../assets/images/ADDELEMENT.png" alt="Add elements">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/dashboard']" title="Add crew members">
          <img class="small-icon" src="../../../assets/images/ADDCREW2.png" alt="Add crew members">
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/dashboard']" title="Add consumer">
          <img class="small-icon" src="../../../assets/images/ADDCONSUMER.png" alt="Add consumer">
        </a>
      </li>
    </ul>
    <a class="nav-link" [routerLink]="['/dashboard']" title="Settings">
      <img class="medium-icon" src="../../../assets/images/SETTINGS.png" alt="Settings">
    </a>
    <a class="nav-link separator" [routerLink]="['/dashboard']" title="Profile">
      <img class="medium-icon" src="../../../assets/images/PROFILE.png" alt="Profile">
    </a>
    <a class="nav-link separator" [routerLink]="['/']" title="Sign out">
      <img class="medium-icon" src="../../../assets/images/LOGOUT.png" alt="Sign out">
    </a>
  </div>
</nav>