<app-navbar></app-navbar>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-left">
            <a routerLink="/safetyDocuments" class="btn btn-primary btn-sm"><i class="material-icons"
                    style="vertical-align: -6px;">arrow_back_ios</i>SAFETY DOCUMENTS</a>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-sm-4 btn-primary"  [disabled]="!addSafetyDocumentForm.valid"  (click)="onSubmit(addSafetyDocumentForm.value)">ADD SAFETY DOCUMENT</button>

        </div>
    </div>
    <div class="row justify-content-center buffer">
        <div class="col text-left">
            <form [formGroup]="addSafetyDocumentForm" autocomplete="off">
                <mat-tab-group>
                    <mat-tab label=" Basic information">
                        <app-basic-information [addSafetyDocumentForm]="addSafetyDocumentForm"></app-basic-information>
                    </mat-tab>

                    <mat-tab label="History of state changes">
                        <app-history-of-state-changes [addSafetyDocumentForm]="addSafetyDocumentForm">
                        </app-history-of-state-changes>
                    </mat-tab>
                    <mat-tab label="Multimedia attatchments"> <app-multimedia-attachments [addSafetyDocumentForm]="addSafetyDocumentForm"></app-multimedia-attachments> </mat-tab>
                    <mat-tab label="Equipment"> <app-equipment [addSafetyDocumentForm]="addSafetyDocumentForm"></app-equipment> </mat-tab>
                    <mat-tab label="Checklist"> <app-checklist [addSafetyDocumentForm]="addSafetyDocumentForm"></app-checklist> </mat-tab>
                </mat-tab-group>                
            </form>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
</div>