<app-navbar></app-navbar>
<br>
<br>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="example-header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
        </div>
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Filter by:</mat-label>
                <mat-select (selectionChange)="onChange($event)" [(value)]="selectedFilter">
                  <mat-option *ngFor="let property of elementProperties"  value="{{property}}">{{property}}</mat-option>
                </mat-select>
            </mat-form-field>               
            <!-- <select (change)="onChange($event.target.value)" class ="example-header">
                <option *ngFor="let property of elementProperties">{{property}}</option>
            </select> -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="example-container mat-elevation-z8">
                <table mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="equipmentId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.equipmentId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="coordinates">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coordinates </th>
                        <td mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>