<app-navbar></app-navbar>
<br />
<br />
<form [formGroup]="newElementForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 text-left">
                <a routerLink="/addElement" class="btn btn-primary btn-sm"><i class="material-icons"
                        style="vertical-align: -6px;">arrow_back_ios</i>ELEMENTS</a>
            </div>
        </div>
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="type">
                    Type:
                </label>
            </div>
            <div class="col-3">
                <select id="type" name="type" [formControlName]="'type'">
                    <option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType">
                        {{equipmentType}}</option>
                </select>
            </div>
        </div>        
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="name">
                    <span style="color: red;">*</span> Name:
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" id="name" type="text" formControlName="name">
                <label class="text-danger" *ngIf="newElementForm.get('name').touched && newElementForm.get('name').errors?.required">
                    This field is mandatory.
                </label>
            </div>
        </div>
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="address">
                    <span style="color: red;">*</span> Address:
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" id="address" type="text" formControlName="address">
                <label class="text-danger" *ngIf="newElementForm.get('address').touched && newElementForm.get('address').errors?.required">
                    This field is mandatory.
                </label>
            </div>
        </div>
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <label class="padding" for="coordinates">
                    <span style="color: red;">*</span> Coordinates:
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" id="coordinates" type="text" formControlName="coordinates">
                <label class="text-danger" *ngIf="newElementForm.get('coordinates').touched && newElementForm.get('coordinates').errors?.required">
                    This field is mandatory.
                </label>
                <label class="text-danger" *ngIf="newElementForm.get('coordinates').invalid">
                    Invalid coordinates.
                  </label>
            </div>
        </div>
        <div class="row justify-content-center buffer">
            <div class="col-3">
                <button class="btn btn-sm-4 btn-primary" [disabled] = "!newElementForm.valid" (click)="onSubmit(newElementForm.value)">ADD ELEMENT</button>
            </div>
        </div>
    </div>
    <div class="row text-center mb-5 mx-3">
        <div class="col-12">
            <label>Fields marked with <span style="color: red;">*</span> are mandatory.</label>
        </div>
    </div>
</form>