<app-navbar></app-navbar>
<br />
<br />
<div class="containter-fluid background">
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm)">  
        <div class="containter">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="d-flex justify-content-center">
                <h1>Settings</h1>
              </div>
            </div>
          </div>
          <div class="row  mb-2">
            <div class="col-lg-12">
              <br />
            </div>
          </div>  

          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="oldPassword">
                Old password:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="oldPassword" type="password" formControlName="oldPassword">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="password">
                New password:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="password" type="password" formControlName="password">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="passwordRepeat">
                Confirm password:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="passwordRepeat" type="password" formControlName="passwordRepeat">
            </div>
          </div>

              <!--div *ngIf=user == admin, i tako do kraja-->
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="streetPriority">
                 Add Street Priority:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="streetPriority" type="text" formControlName="streetPriority">              
            </div>
          </div>              
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="hideUnnecesaryDocumentInfo">
                Hide Unnecesary Notifications:
              </label>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="hideUnnecesaryDocumentInfo" type="checkbox" formControlName="hideUnnecesaryDocumentInfo">
            </div>
          </div>
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="notificationTypesDisplayed">
                Notifications displayed:
              </label>
            </div>
            <div class="col-lg-3">
              <select>
                <option *ngFor="let notification of notificationTypesDisplayed" [value]="notification">{{notification}}</option>
              </select>
            </div>
          </div>                     
    
          <div class="row mb-2">
            <div class="col-lg-3">
              <label class="padding" for="iconDisplay">
                Icon Display:
              </label>
            </div>
            <div class="row mb-2">
              <app-data-table-icon-settings (iconSettingsEmmiter)="iconSettingsEmmiter($event)"></app-data-table-icon-settings>
            </div>
            <div class="col-lg-3">
              <input class="form-control" id="iconDisplay" type="text" formControlName="iconDisplay">
              <button class="btn btn-sm-4 btn-primary" type="text" formControlName="streetPriority">Add Street</button>
            </div>
          </div>        

          <div class="row mb-2">
            <div class="col-lg-4">
              <div class="d-flex justify-content-center">
                <button class="btn btn-sm-4 btn-primary" type="submit">Submit changes</button>
                <button class="btn btn-sm-4 btn-primary" type="button" (click)="resetSettingsForm()">Reset settings</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    </div>