/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: lightgrey;
    color: black;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: lightgrey;
    color: black;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

.buffer {
    margin:20px !important; 
    }
    
.temp_pre{
    margin:20px !important;
    border: 1px solid black;
    border-radius: 5px;
}