<div class="card" style="width: 18rem;">
    <div class="card-header">
        <img class="card-img-top big-icon mt-3" [src]="card_info.src" alt="card_info.alt">
        <h5 class="card-title">{{card_info.title}}</h5>
    </div>

    <div class="card-body">
        <ul>
            <!--li>
                <p>Drafted: {{card_info.drafted}}</p>
            </li>
            <li>
                <p>Completed: {{card_info.completed}}</p>
            </li>
            <li>
                <p>Issued: {{card_info.issued}}</p>
            </li>
            <li>
                <p>Canceled: {{card_info.canceled}}</p>                                
            </li-->
            <li>
                <p>Executing: {{executing}}</p>
            </li>
            <li>
                <p>Drafts: {{drafts}}</p>
            </li>
            <li>
                <p>Completed: {{completed}}</p>
            </li>
            <li>
                <p>Canceled: {{cancelled}}</p>
            </li>
        </ul>
        <div class="col d-flex justify-content-center">
            <a [routerLink]="card_info.route" class="btn btn-primary">Details</a>
        </div>

    </div>
</div>