<app-navbar></app-navbar>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-left">
            <a routerLink="/addWorkRequest" class="btn btn-primary btn-sm"><i class="material-icons"
                    style="vertical-align: -6px;">add_circle</i> ADD WORK REQUEST</a>
        </div>
        <div class="col-6 text-right">
            <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle value="All" (change)="onValChange($event.value)">All</mat-button-toggle>
                <mat-button-toggle value="Mine" (change)="onValChange($event.value)">Mine</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="row justify-content-center buffer">
        <div class="col text-left">
            <app-data-table-work-requests></app-data-table-work-requests>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
</div>