<div class="container-fluid grid-border">   
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="workPlanDocumentType">Document Type:</label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <select id="documentType" name="documentType" [formControlName]="'documentType'">
                <option *ngFor="let documentType of workPlanTypes" [value]="documentType">
                    {{documentType}}</option>
            </select>
        </div>
        <div class="col-3">
            Date created:
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">            
            Created Label-creationDate
        </div>
    </div>
   
    
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            Status:
        </div>
        <div class="col-3">
            status label
        </div>
        <div class="col-3">
            Created by:
        </div>
        <div class="col-3">
            created by label
        </div>
        <div class="col-3">
            <label for="workRequestId">Work Request: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="workRequestId" name="workRequestId" type="text" [formControlName]="'workRequestId'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="startWorkDate">Start work:</label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="startWorkDate" name="startWorkDate" type="date" [formControlName]="'startWorkDate'">
        </div>
        <div class="col-3">
            <label for="endWorkDate">Finish work:</label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="endWorkDate" name="endWorkDate" type="date" [formControlName]="'endWorkDate'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="incidentId">Incident:</label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="incidentId" name="incidentId" type="text"
                [formControlName]="'incidentId'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="address">Address: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="address" name="address" type="text" [formControlName]="'address'">
        </div>
        <div class="col-3">
            <label for="purpose">Purpose: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="purpose" name="purpose" type="text" [formControlName]="'purpose'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="company">Company: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="company" name="company" type="text" [formControlName]="'company'">
        </div>
        <div class="col-3">
            <label for="notes">Notes: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="notes" name="notes" type="text" [formControlName]="'notes'">
        </div>
    </div>
    <div class="row text-left mb-5 mx-3">
        <div class="col-3">
            <label for="phone">Phone Number: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="phone" name="phone" type="text" [formControlName]="'phone'">
        </div>
        <div class="col-3">
            <label for="crew">Crew: </label>
        </div>
        <div class="col-3" [formGroup]="addWorkPlanForm">
            <input class="form-control" id="crew" name="crew" type="text" [formControlName]="'crew'">
        </div>
    </div>

</div>