<app-navbar></app-navbar>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-left">
            <a routerLink="/incidents" class="btn btn-primary btn-sm"><i class="material-icons"
                    style="vertical-align: -6px;">arrow_back_ios</i>INCIDENTS</a>
        </div>
        <div class="col-6 text-right">
            temp
        </div>
    </div>
    <div class="row justify-content-center buffer">
        <div class="col text-left">
            <form [formGroup]="addIncidentForm">
                <mat-tab-group>
                    <mat-tab label=" Basic information">
                        <app-basic-information-incidents [addIncidentForm]="addIncidentForm"></app-basic-information-incidents>
                    </mat-tab>
                    <mat-tab label="Resolution">
                        <app-resolution-incidents [addIncidentForm]="addIncidentForm">
                        </app-resolution-incidents>
                    </mat-tab>                    
                    <mat-tab label="Multimedia attatchments"> <app-multimedia-attachments-incidents [addIncidentForm]="addIncidentForm"></app-multimedia-attachments-incidents> </mat-tab>                    
                    <mat-tab label="Equipment"> <app-equipment-incidents [addIncidentForm]="addIncidentForm"></app-equipment-incidents> </mat-tab> 
                    
                </mat-tab-group>
                <pre class="temp_pre"><h1>TEMPORARY</h1>>{{addIncidentForm.value | json}}</pre>
            </form>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
</div>