<div *ngIf="ready" >
    <app-navbar></app-navbar>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row m-4">
            <div class="col" *ngFor="let card of cards_info">
                <app-dashboard-card [card_info]="card"></app-dashboard-card>
            </div>
        </div>
        <div class="row mx-4 my-6">
            <div class="col">
                <app-line-chart></app-line-chart>
            </div>
            <div class="col">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
</div>