.big-icon{
    width: 35px;
    height: 35px;
}
.small-icon{
  width: 25px;
  height: 25px;
}
.medium-icon{
  width: 30px;
  height: 30px;
}

.my-6{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pl-14{
  padding-left: 13rem;
}